<div class="modal" *ngIf="formContato">
  <div class="header">
    <h1>Novo Contato</h1>
    <button class="button-x" (click)="modalService.showModalPost = false">X</button>
  </div>
  <form
    [formGroup]="formContato"
    (ngSubmit)="submit()"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        type="text"
        formControlName="nome"
        placeholder="Informe um nome"
        required
      />
      <div *ngIf="formContato.get('nome')?.invalid && formContato.get('nome')?.touched">
        <div class="alert alert-danger">Campo "Nome" é obrigatório *</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Informe um e-mail"
        required
      />
      <div *ngIf="formContato.get('email')?.invalid && formContato.get('email')?.touched">
        <div class="alert alert-danger">Campo "E-mail" é obrigatório *</div>
      </div>
    </div>
    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input
        type="text"
        formControlName="telefone"
        placeholder="Informe um telefone"
        required
      />
      <div *ngIf="formContato.get('telefone')?.invalid && formContato.get('telefone')?.touched">
        <div class="alert alert-danger">Campo "Telefone" é obrigatório *</div>
      </div>
    </div>
    <div class="form-group">
      <label for="nascimento">Data de nascimento:</label>
      <input
        type="date"
        formControlName="nascimento"
        placeholder="Informe uma data de nascimento"
        required
      />
      <div *ngIf="formContato.get('nascimento')?.invalid && formContato.get('nascimento')?.touched">
        <div class="alert alert-danger">Campo "Data de Nascimento" é obrigatório *</div>
      </div>
    </div>
    <div class="form-group">
      <label for="imagemPerfil">Adicione uma foto de perfil:</label>
      <input
        type="file"
        accept="image/*"
        formControlName="imagemPerfil"
        (change)="onFileSelected($event)"
        required
      />
      <div *ngIf="formContato.get('imagemPerfil')?.invalid && formContato.get('imagemPerfil')?.touched">
        <div class="alert alert-danger">Campo "Imagem de Perfil" é obrigatório *</div>
      </div>
    </div>
    <button class="cancel-button" (click)="modalService.showModalPost = false">Cancelar</button>
    <input class="submit-button" type="submit" value="Salvar" [disabled]="formContato.invalid"/>
  </form>
</div>
<div class="overlay"></div>
