<div class="card" *ngFor="let contato of contatos">
  <h1>#{{ contato.id }}</h1>
  <img class="image" src="{{ contato.imagemPerfil }}" alt="Samuca" />
  <div>
    <p><strong>Nome:</strong>{{ contato.nome }}</p>
    <p><strong>Email:</strong>{{ contato.email }}</p>
    <p><strong>Telefone:</strong>{{ contato.telefone }}</p>
    <p class="date"><strong>Data de nascimento:</strong>{{ contato.nascimento }}</p>
  </div>
  <div>
    <button class="btnEditar">Editar</button>
    <button class="btnExcluir">Excluir</button>
  </div>
</div>
