body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f0f0f0;
}

button {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

img {
    width: 80%;
    height: 80%;
    border: 2px solid grey;
}

.card {
   width: 70%;
   border: 2px solid grey;
   border-radius: 10px;
   margin: 0 auto;
   margin-bottom: 1em;
   display: grid;
   grid-template-columns: 10% 20% 40% 20%;
   align-items: center;
   grid-gap: 20px;
}

.btnEditar{
    background-color: rgb(255, 196, 0);
}

.btnEditar:hover {
    background-color: rgb(233, 178, 0);
}

.btnExcluir {
    background-color: red;
}

.btnExcluir:hover {
    background-color: rgb(189, 0, 0);
}