<div class="card" *ngFor="let contato of contatos">
  <h1>#{{ contato.id }}</h1>
  <img class="image" src="{{ contato.imagemPerfilUrl }}" alt="{{ contato.nome }}" />
  <div>
    <p><strong>Nome:</strong>{{ contato.nome }}</p>
    <p><strong>Email:</strong>{{ contato.email }}</p>
    <p><strong>Telefone:</strong>{{ contato.telefone }}</p>
    <p class="date"><strong>Data de nascimento:</strong>{{ contato.nascimento }}</p>
  </div>
  <div>
    <button class="btnEditar" (click)="editarContato(contato)">Editar</button>
    <button class="btnExcluir" (click)="deletarContato(contato.id)">Excluir</button>
  </div>
</div>
<app-modal-edicao *ngIf="modalService.showModalPut"></app-modal-edicao>